<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   <title>Error-Weather Application</title>
</head>
<body>
  
        <!-- Page Main Content -->
      <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            
            <div class="row">
                <!-- Left Side -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                     <img class="err-img" src="images/404.png" alt="">
                      <p>Welcome to Weather Application</p>
                <h1>{{errorMsg}}</h1>
                <a href="/"><button>Go Back</button></a>
                </div>
              
            </div>
        </div>
    </div>
</div>

    

    <!-- Bootstrap JavaScript and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>

    
</body>
</html>
